:root {
  --primary: #42e2b8;
  --black: #0f0a0a;
  --white: #fff;
  --purple: #8884ff;
}

html,
body {
  font-family: 'Oxygen', sans-serif;
  background-color: var(--purple);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  font-size: 1rem;
  font-weight: normal;
}

.filter {
  background-color: rgba(255, 255, 255, 0.1);
}

.container {
  max-width: 70.75rem;
  margin: auto;
}

.display-flex-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar {
  width: 100%;
  height: 5rem;
}

.logo {
  font-size: 1.5rem;
}

.navbar-nav {
  list-style: none;
  display: flex;
}

.bold {
  font-weight: bold;
}

.active {
  color: var(--black) !important;
}

.img-fluid {
  width: 100%;
  height: auto;
}

.navbar-nav li {
  font-weight: bold;
  margin-right: 2.5rem;
  color: #565656;
}

.btn {
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid var(--black);
  border-radius: 90px;
  font-size: 0.875rem;
  font-weight: bold;
  cursor: pointer;
}

.btn-download {
  height: 3.0625rem;
  background-color: var(--primary);
  box-shadow: -4px 4px 14px rgba(0, 0, 0, 0.25);
  padding: 0 16px;
}

.hero {
  margin-bottom: 2rem;
}

.hero-text h2 {
  font-size: 4rem;
}

.hero-text h1 {
  font-size: 3.6875rem;
}

.hero-text p {
  max-width: 28.0625rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mr-1 {
  margin-right: 1rem;
}

.btn-icon {
  width: 2.75rem;
  height: 2.75rem;
  background-color: var(--primary);
  border-radius: 4px;
}

.btn-github {
  height: 3.0625rem;
  display: flex;
  align-items: center;
  padding: 0 16px;
}

.btn-github svg {
  margin-right: 8px;
}

.d-flex {
  display: flex;
}

.section-2 {
  max-width: 56.25rem;
  margin: auto;
  text-align: center;
  margin-bottom: 4rem;
}

.section-2-p1 {
  font-size: 2.125rem;
  line-height: 3.438125rem;
  font-weight: 300;
  margin-bottom: 1.5rem;
}

.section-2-p2 {
  font-size: 1.5rem;
  line-height: 2.426875rem;
  margin-bottom: 2.5rem;
}

.display-flex-section {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.mb-3 {
  margin-bottom: 2.125rem;
}

.mb-5 {
  margin-bottom: 64px !important;
}

.project-name {
  background-color: var(--black);
  color: var(--primary);
  font-size: 2.125rem;
  font-weight: bold;
  -webkit-box-shadow: -4px 4px 0px 2px var(--white);
  box-shadow: -4px 4px 0px 2px var(--white);
  margin-bottom: 20px;
  padding: 8px;
}

.fit-content {
  width: fit-content;
}

.project-text {
  font-size: 16px;
  line-height: 28.89px;
  margin-bottom: 1.5rem;
}

.card-section {
  background-color: rgba(255, 255, 255, 0.2);
  min-height: 27.375rem;
  border: solid 3px white;
  border-radius: 1.5rem;
  text-align: center;
}

.card-section-img {
  max-width: 80px;
  margin: auto;
  margin-top: 80px;
}

.card-section-title {
  font-size: 2.125rem;
  line-height: 3.438125rem;
  font-weight: bold;
  margin-top: 1.5rem;
}

.card-section-subtitle {
  font-size: 1.5rem;
  line-height: 2.426875rem;
  font-weight: bold;
  color: #565656;
  margin-top: 1.5rem;
}

.text-center {
  text-align: center;
}

.form-section {
  max-width: 543px;
  margin: auto;
}

.form-control {
  margin-bottom: 16px;
}

.form-control input {
  display: block;
  width: 100%;
  padding: 10px;
  height: 50px;
  font-size: 16px;
  border-radius: 8px;
  border: none;
}

.form-control textarea {
  width: 100%;
  border-radius: 8px;
  border: none;
}

.form-control label {
  margin-bottom: 8px;
  font-size: 16px;
  display: block;
}

.w-100 {
  width: 100%;
}

@media only screen and (max-width: 500px) {
  .container {
    max-width: 90%;
  }

  .navbar-nav {
    display: none;
  }

  .hero {
    flex-direction: column-reverse;
  }

  .projects {
    flex-direction: column-reverse;
  }

  .card-section {
    min-height: 20rem;
  }

  .card-section-title {
    font-size: 1rem;
    line-height: 1.618125rem;
  }

  .card-section-subtitle {
    font-size: 0.75rem;
    line-height: 1.21375rem;
  }

  .card-section-img {
    margin-top: 40px;
  }

  footer .logo {
    display: none;
  }

  footer {
    flex-direction: column-reverse;
  }

  .footer-icons {
    margin-bottom: 24px;
  }

  .footer-text {
    text-align: center;
  }
}
